@use "./variables" as *;

.nav-banner {
  justify-content: space-between;
  .logo {
    height: 25px;
  }
  .input-group {
    width: 30%;
    span {
      background-color: $lighter;
      border: none;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      padding-right: 0.1rem;
      font-size: 0.8rem;
      .icon {
        color: $neutral;
      }
    }
    input {
      font-size: 0.8rem;
      border: none;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: $lighter;
    }
  }
  .support {
    font-size: 0.8rem;
  }
  .personal-area {
    .icon {
      padding-left: 0.8rem;
    }
  }
}

.nav-menu {
    border-top: 1px solid $lighter;
  .my_container {
    display: flex;
    justify-content: center;
    nav {
      padding: 1rem 0;
      ul {
        display: flex;
        font-size: 0.8rem;
        font-weight: 500;
        margin-bottom: 0;
        li {
          padding: 0 0.8rem;
          color: $dark;
          &:not(.active) {
              color: $neutral;
          }
          .icon {
              font-size: 0.6rem;
          }
        }
      }
    }
    
  }
}
