/* COLOR PALETTE */
$primary: white;
$lighter: #f3f4f3;
$light: rgb(160, 160, 160);
$secondary: #1e3020;
$secondary-light: #2a382a;
$secondary-transparent: #1e3020a1;
$secondary-button: #3d6f42;
$secondary-banner: #264229;
$darker: #000;
$dark: #2e2e2e;
$neutral: grey;
$hover-bg: rgba(182, 104, 49, 0.564);